* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Arimo", sans-serif;
}

.logo img {
    width: 190px;
    position: relative;
    left: auto;
}

.navbar__s2__l1 img {
    width: 30px;
    display: flex;
    position: relative;
    bottom: 4px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;

}

.navbar__s1 {
    display: flex;
    font-weight: 800;
    gap: 40px;
    font-size: 15px;
}

.navbar__s2 {
    display: flex;
    gap: 10px;
}

.navbar__s2__l3 {
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
    position: relative;
    left: 30px;
}

.navbar__s2__l1,
.navbar__s2__l2 {
    position: relative;
    top: 10px;
}

.section__one__s1 {
    font-size: 50px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 40px;
    letter-spacing: -3px;
    position: relative;
    left: auto;
}

.section__three {
    display: flex;
    justify-content: space-around;
    padding: 60px;
    gap: 2px;
    position: relative;
    top: 30px;

    align-items: center;
    padding: 30px;
    border-radius: 70px;
    margin-left: 50px;
    margin-right: 50px;
}

.section__three img {
    width: 30px;
    border: solid black 3px;
    padding: 5px;
    border-radius: 30px;

}

.section__three__s1 {
    font-size: 18px;
    font-weight: 800;

}

.section__three__s1 span {
    position: relative;
    bottom: 13px;


}

.section__three__s2 span {
    position: relative;
    bottom: 13px;
    font-size: 18px;
    font-weight: 800;
}

.section__three__s3 span {
    position: relative;
    bottom: 13px;
    font-size: 18px;
    font-weight: 800;
}

.section__three__s4 span {
    position: relative;
    bottom: 13px;
    font-size: 18px;
    font-weight: 800;
}

.section__three__s5 span {
    position: relative;
    bottom: 13px;
    font-size: 18px;
    font-weight: 800;
}


.section__three__s6 span {
    position: relative;
    bottom: 13px;
    font-size: 18px;
    font-weight: 800;
}

.section__four img {
    width: 25px;
    padding-left: 10px;
}

.section__four__s1 {
    padding: 10px;
    width: 40%;
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
    border-radius: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.section__four {
    padding-top: 30px;
    display: flex;
    justify-content: center;

}

.section__four__s1 input {
    border: none;
    width: 100%;
    font-size: 16px;

}

.section__four__s1 input:focus {
    outline: none;
}

.section__four button {
    background-color: rgb(65, 230, 167);
    color: rgb(13, 13, 13);
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;

}

.section__five {
    background-color: orangered;
    position: relative;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 60px;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 30px;


}

.section__five__s1 img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 30px;
    object-fit: cover;
}

.section__five__s2 {

    padding-left: 30px;
    border-left: 2px solid black;
}

.text-content {
    padding-left: 20px;
    color: black;
    line-height: 1.8;
    /* line height increased */
}

.text-content p {
    font-size: 15px;
    padding-bottom: 10px;
}

.text-content button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}
.recommended {
    padding: 30px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: black;
    margin-top: 70px;
    
    
}
.recommended__title{
    padding-left:60px ;
    color: white;
}
.recommended__desc{
    padding-left: 60px;
    padding-top: 10px;
    color: white;
}


.recommended__container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
    padding-top: 30px;
}


    
.course__card {
   
    width: 300px;
    padding: 15px;
    margin: 1px;
    text-align: center; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.course__card img {

    height: 90%;
    width: 100%;
    border-radius: 20px;
    
      
     
}
.course__card:hover{
    
}
.course__card h3{
    background-color: orangered;
   color: black;
   border: solid black 3px;
   display: block;
   font-weight: 500;
   border-radius: 10px;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-top: 20px;

}
.course__card img:hover{
    filter: brightness(1.5);
    transform: rotate(10deg);
}
.experience{
    padding: 20px;
    
}
.experience__title{
    padding-left:60px ;
    
}
.experience__desc{
    padding-left: 60px;
    padding-top: 10px;
    
}
.experience__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    
}
.card{
    color:black;
    width: 90%;
    max-width: 1200px;
    flex-basis: 40%;
    flex-grow: 1;
    
    width: 300px;
    padding: 15px;
    margin: 3px;
    text-align: left; 
    display: flex;
    flex-direction: column; 
    align-items: left;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    
}

.card img{
    width: 100%;
    height: 60%;
    border-radius: 20px;
}
.card p{
    padding-top: 10px;
    font-size: 20px;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    
}
.card h4{
    padding-top: 10px;
   

}
.inter{
    padding: 20px;
    background-color: black;
    
}
.inter__title{
    padding-left:60px ;
    color: white;
}
.inter__desc{
    padding-left: 60px;
    padding-top: 10px;
    color: white;
}
.inter__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    
}
.trip{
    
    width: 90%;
    height: 500px;
    max-width: 900px;
    flex-basis: 70%;
    flex-grow: 1;
    background:white;
    width: 300px;
    padding: 15px;
    margin: 1px;
    text-align: left; 
    display: flex;
    flex-direction: column; 
    align-items: left;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.trip img{
    width: 100%;
    height: 400px;
    border-radius: 20px;
}
.trip p{
    padding-top: 10px;
    font-size: 20px;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    
}
.trip h4{
    padding-top: 10px;
   

}
.comment {
    margin-top: 40px;
    padding: 30px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: rgb(162, 150, 150);
    padding-bottom: 30px;
    
}
.comment__title{
    padding-left:60px ;
    color: black;
}
.comment__desc{
    padding-left: 60px;
    padding-top: 10px;
    color: black;
}


.comment__container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    padding-bottom: 20px;
    
    
}


    
.comment__card {
   
    
    width: 400px;
    padding: 15px;
    margin: 1px;
    text-align: center; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    background-color: aliceblue;
 box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);

}

.comment__card img {

    height: 40%;
    width: 100px;
    border-radius: 20px;
    padding-top: 20px;
    
    
      
     
}
.course__card:hover{
    
}
.comment__card h3{
    
   color: black;
   display: block;
   font-weight: 500;
   border-radius: 10px;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 10px;
   margin-top: 20px;

}
.comment__card p{
    width: 220px;
}
.course__card img:hover{
    filter: brightness(1.5);
    transform: rotate(10deg);
}
.add2 img{
        width: 100%;
        padding-top: 100px;
        padding-bottom: 150px;
}
.add1 img{
        width: 100%;
        padding-top: 100px;
        padding-bottom: 60px;
}
.footer__one {

    display: flex;
}

.footer__one p {

    margin: 20px;
}

.footer {

    width: 96%;
    padding: 30px;
    background-color: rgb(219, 206, 206);
    color: rgb(8, 8, 8);
    margin-top: 30px;
}

.footer__two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px;
    


}

.footer__two img {
    width: 190px;
    position: relative;
    left: auto;
}
.apps i{
    
    padding-left: 15px;
    padding-top: 20px;
    size: 80px;
}
.forms{
    padding: 10px;
    width: 18%;
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
    border-radius: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
     display: flex;
    justify-content: space-between;
    padding-left: 10px;
    margin-top: 10px;
}
.forms select{
    border: none;
    width: 100%;
    font-size: 16px;
    border-radius: 20px;
    background-color:rgb(219, 206, 206); 
   
}
.forms select:hover{
    border:  solid black 2px;
}

@media screen and (max-width:1000px) {
    .navbar__s1 {
        display: none;
    }

}

@media screen and (max-width:800px) {
    .section__three {
        display: none;
    }

    .section__four {
        margin: auto;
    }
}

@media screen and (max-width:600px) {
    body {
        font-size: 10px;
    }

    .section__one__s1 {
        display: none;
    }

    .section__five {
        margin: auto;

    }



    .section__four__s1 {
        margin: auto;
    }

}

@media screen and (max-width: 768px) {
    .section__five {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        padding: 20px;
        text-align: center;
        margin-top: 20px;


    }

    .section__five__s1 img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .section__five__s2 {
        border-left: none;
        padding-left: 0;
        padding-top: 20px;
    }

    .text-content {
        padding-left: 0;
    }

    .text-content h1 {
        font-size: 22px;
    }

    .text-content p {
        font-size: 14px;
    }

    .text-content button {
        padding: 8px 16px;
        font-size: 14px;
    }
    .section__four__s1 input {
    border: none;
    width: 100%;
    font-size: 16px;
}
.section__four__s1 input,.section__four__s1 button{
   
    padding: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
    border-radius: 40px;
 
    
}
.section__four__s1{
    width: 60%;
   
}
.section__four__s1 input{
    width: 100%;
}
.recommended{
    padding-left:15px ;
    padding-top: 20px;
    font-size: 14px;
}
.card{
    display: flex;
    flex-basis: 60%;
    flex-grow: 1;
}
.trip{
    display: flex;
    flex-basis: 60%;
    flex-grow: 1;
}
.add1 img{
    width: 100%;
     height: 100%;
}
.add2 img{
    width: 100%;
}
.comment__card{
    margin-top: 30px;
    font-size: 15px;
}
.footer{
   font-size: 13px;
   width: 88%;
}
.forms{
    padding: 10px;
    display: flex;
    width: 200px;
    align-items: center;
    position: relative;
    border-radius: 40px;
}
}
@media screen and (max-width: 414px) {
    .section__five {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        padding: 20px;
        text-align: center;
        margin-top: 20px;


    }

    .section__five__s1 img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .section__five__s2 {
        border-left: none;
        padding-left: 0;
        padding-top: 20px;
    }

    .text-content {
        padding-left: 0;
    }

    .text-content h1 {
        font-size: 22px;
    }

    .text-content p {
        font-size: 14px;
    }

    .text-content button {
        padding: 8px 16px;
        font-size: 14px;
    }
    .section__four__s1 input {
    border: none;
    width: 100%;
    font-size: 16px;
}
.section__four__s1 input,.section__four__s1 button{
   
    padding: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
    border-radius: 40px;
 
    
}
.section__four__s1{
    width: 60%;
   
}
.section__four__s1 input{
    width: 100%;
}
.recommended{
    padding-left:15px ;
    padding-top: 20px;
    font-size: 14px;
}

.card{
    display: flex;
    flex-basis: 60%;
    flex-grow: 1;
}
.trip{
    display: flex;
    flex-basis: 60%;
    flex-grow: 1;
}
.add1 img{
    width: 100%;
    height: 100%;
}
.add2 img{
    width: 100%;
}
.comment__card{
    margin-top: 30px;
    font-size: 15px;
}

.footer{
   font-size: 13px;
   width: 80%;
   
}
.forms{
    padding: 10px;
    display: flex;
    width: 200px;
    align-items: center;
    position: relative;
    border-radius: 40px;
}
}